@import './color-pallete';


main{
	margin: 5rem 2rem;
	font-size: 2rem;
	display: flex;
	flex-direction: row;
}

#content{
	flex:3;
}

aside{
	background: $navbar-color;
	flex:1;
	padding: 10px;
	a{
		display: flex;
		transition: 300ms;
	}
	a:hover{
		background: $primary-color;
	}
	
}

@media only screen and (max-width:600px) {
	main{
		font-size: 1.5rem;
	}
}