@import './color-pallete';
@import './container-function';


a{
	text-decoration: none;
	color: $text-color;
}

li{
	list-style: none;
}

.navbar{
	position: fixed;
	@include long-container();
}

.navbar-list{
	@include item-column();
}

.button{
	padding: 27px;
	font-size: 1rem;
	font-weight: 800;
}

#first-item{
	margin-left: auto;
}

.navbar-list > *:hover{
	transition: 300ms;
	color: $primary-color;
	background: $background-color;
}

svg{
	padding: 5px;
	fill:$text-color;
	height: 64px;
	width: 64px;

	&:hover{
		fill: $primary-color;
	}
}

@media only screen and (max-width:500px) {
	.button{
		padding: 10px;
	}
	svg{
		width: 50px;
		height: 50px;
	}
}