@import './color-pallete';
@import './navbar';
@import './main';
@import './footer';
body{
	color: $text-color;
	background: $background-color;
	font-family: 'Poppins', sans-serif;
}

*{
	margin: 0;
}
